* {
    box-sizing: border-box;
}

html {
    font-family: $font-main;
    font-size: $font-size;
}

body {
    // TODO:
    // width: 100%;
    // overflow-x: hidden;

    transition: transform 0.25s;
    overflow-x: hidden;
    background-color: $color-light;

    &::before {
        position: absolute;
        z-index: -10;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        content: "";
        background-color: $color-main;
        opacity: 0;
    }

    &.active {
        transform: translateX(-$navbar-mobile-width);
        transition: transform 0.5s;
        overflow-y: hidden;

        &::before {
            z-index: 10;
            height: 100%;
            opacity: 0.85;

        }
    }
}

a {
    text-decoration: none;
    color: $color-main;
    transition:  color 0.5s;
}

.container {
    display: grid;
    
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gap;
    padding-right: $gap;
}